body {
    font-family: system-ui, -apple-system;
    background-color: rgb(19, 23, 31);
    color: rgb(194, 199, 208);
}

nav {
    border-bottom: 1px solid rgb(194, 199, 208);
}

a {
    color: rgb(194, 199, 208);
}

nav > a {
    text-decoration: none;
}

li {
    list-style-type: square;
}

h1 {
    text-align: center;
}

kbd {
    background-color: rgb(194, 199, 208);
    color: rgb(19, 23, 31);
    padding: 0.2rem 0.5rem;
    margin: auto 1rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table td {
    text-align: center;
    padding: 0.5rem;
    border-color: rgb(194, 199, 208);
    border-style: solid;
    border-width: 1px;
}

#current-page {
    background-color: rgb(194, 199, 208);
    color: rgb(19, 23, 31);
}

/* Custom css frameworkTM */

.flex {
    display: flex;
}

.flex-space-evenly {
    justify-content: space-evenly;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap; 
}

/* does this affect the centering of the unwrapped tables? */
/* plz dont do that */
.flex-wrap > table {
    margin: 0 0 2rem 0;
}